body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: url("mountain.jpg");
    background-position: center;
    background-color: azure;
    background-position-y: 40%;
    padding:0;
    margin: 0;
    z-index: 1;
}

img {
    z-index: 0;
}

button{
    font-size: x-large;
    padding: 4px 10px 4px 10px;
    border-radius: 40px;
    border-color: rgb(175, 203, 228);

}

.game-options, .scoreboard{
    display: flex;
    gap:60px;
}

.game-options{
    margin: 0;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard{
    font-size: larger;
}